/* 1. Encendemos el motor de Tailwind CSS */
@import "tailwindcss";

/* 2. Forzamos la fuente elegante Inter en toda la app */

{
font-family: 'Inter', sans-serif !important;
}

/* 3. Ajustes finos para transiciones globales */
body {
@apply transition-colors duration-300;
margin: 0;
-webkit-font-smoothing: antialiased;
}

/* 4. Magia para el Modo Oscuro: Invertir el color del ícono del calendario */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
opacity: 0.6;
cursor: pointer;
}

.dark input[type="date"]::-webkit-calendar-picker-indicator,
.dark input[type="month"]::-webkit-calendar-picker-indicator {
filter: invert(1);
}
