@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

/* OBLIGA A TAILWIND A OBEDECER TU BOTÓN Y NO A TU SISTEMA OPERATIVO */
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
    font-family: 'Inter', sans-serif !important;
}

/* --- RECUPERACIÓN DE ESTILOS --- */
body { 
  background-color: #F4F7FB;
  color: #1E293B !important; 
}

body.dark-mode, body.dark, .dark body { 
  background-color: #111827;
  color: #F9FAFB !important; 
}

/* Corrección de calendario */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator { 
    opacity: 0.6; cursor: pointer; 
}

.dark input[type="date"]::-webkit-calendar-picker-indicator,
.dark input[type="month"]::-webkit-calendar-picker-indicator { 
    filter: invert(1); opacity: 0.8;
}
